@import '../common';

.navbar {
  background-color: $primaryColor;
  padding: 1rem;
  border-bottom: 2px solid $accentColor;
  .nav-links,
  .logo {
    display: inline-block;
    a {
      color: $lightTextColor;
    }
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span a {
    color: $lightTextColor;
    font-size: 1.6rem;
  }
}
