<navbar></navbar>
<header>
  
</header>
<main>
  <div class="container">
  	<div class="row">
		<h1 class="col-sm-12">{{$ctrl.title}}</h1>
		<flight-selector where="'origin'" 
						 selection="$ctrl.originAirportData">			 
		</flight-selector>
		<flight-selector where="'destination'" 
						 selection="$ctrl.destinationAirportData">
		</flight-selector>
		<div class="col-sm-12">
			<button class="btn btn-success" 
					ng-disabled="!$ctrl.airportsSelectedCorrectly"
					ng-click="$ctrl.searchFlights()">Get Cheap Flights</button>
		</div>
  	</div>
  	<div class="row flight-results">
  		<div class="flight-option col-sm-12"
  			 ng-repeat="flight in $ctrl.flightSearchResults.flights">
  			 <p class="price">
  			 	Only {{flight.price | currency : flight.currency}}
  			 </p>
  			 <span class="date origin-date">Leaving: {{flight.dateFrom | date:'medium'}}</span>
  			 <span class="date destination-date">To: {{flight.dateTo | date:'medium'}}</span>

  		</div>
  	</div>
  </div>
</main>